@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Int422 Assignment 8</h1>
    <p class="lead">DataBase, Security.</p>
    <p><a href="#Azure" target="_blank" class="btn btn-primary btn-lg">Assignment 8 on Azure &raquo;</a></p>
</div>

<div class="row">
    <div name ="Azure" class="col-md-4">
       <h2>I have tried many times: Just Can't get through Microsoft Azure account registration! </h2>
    </div>
    <div class="col-md-4">
        
    </div>
</div>